{% extends 'layout.html.twig' %}

{% block title %}
    Eliminar acuerdo
{% endblock %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1>{{ acuerdo.student }}, {{ acuerdo.workcenter }}</h1>

    <div class="alert alert-warning">
        ¿Está seguro de que desea eliminar el acuerdo? La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('listado_acuerdos') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de acuerdos</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar acuerdo</button>
    </form>

{% endblock %}